@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

h1 {
    letter-spacing: 15px;
    text-align: center;
    
}

li {
    text-shadow: 1px 1px 1px;
}

p {
    text-justify: auto;
    text-shadow: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 20%;
  }

  .image {
    display: block;
    margin-left: 0;
    height: 40%;
    width: 40%;
  }